.documentationDesc {
  line-height: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  border-radius: 2px;
  background: #222;
  white-space: nowrap;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #eee;
  font-family: 'Raleway', sans-serif;
}

.docHeader {
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.docHeader:hover {
  background: #2b2d2e;
}

.spoiler {
  transition: max-height 0.5s ease-in;
  -webkit-transition: max-height 0.5s ease-in;
  -moz-transition: max-height 0.5s ease-in;
  -o-transition: max-height 0.5s ease-in;
  max-height: 0px;
  overflow: hidden;
  background: #222;
  padding-left: 20px;
  text-align: left;
}

#documentation {
  padding: 5px 20px;
  margin-left: auto;
  max-width: 1500px;
  margin-right: auto;
  margin-top: 25px;
  white-space: normal;
  text-align: center;
}

.button {
  width: 100%;
  border: none;
  color: rgb(31,34,38);
  background-color: #c9cfd7;
  padding-right: 25px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffffff;
}

.list-group {
  align-content: center;
}

